@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

$figtree-font: "Figtree", sans-serif;
$bg-color: #f5d04e;
$card-color: #ffffff;
$description-text: #808080;
$hover-color: #eed058;
$tag-bg-color: #f0d04e;
$credit-link-color: #446344;
$color-black: #000000;
